@using EntityLayer.Concrete
@model List<Reservation>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Rezervasiyalar</h3>

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Şəhər</th>
            <th>Say Nəfər</th>
            <th>Tarix</th>
            <th>Status</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ReservationId</td>
                <td>@x.DestinationID</td>
                <td>@x.PersonCount</td>
                <td>@x.ReservationDate</td>
                <td>@x.Status</td>

            </tr>
        }
    </table>




