@using TraversalProje.Areas.Admin.Models;
@model List<VisitorViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int saygac = 0;
}

<h1>APİ İstifadəçi Siyahısı</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad </th>
        <th>Soyad</th>
        <th>Email</th>
        <th>ölkə</th>
        <th>Şəhər</th>
        <th>Sil</th>
        <th>Yenilə</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            @{
                saygac = saygac + 1;
            }
            <td>@saygac</td>
            <td>@x.Name </td>
            <td>@x.Surname</td>
            <td>@x.Mail</td>
            <td>@x.Country</td>
            <td>@x.City</td>
            <td><a href="/Admin/VisitorApi/DeleteVisitor/@x.VisitorID" class="btn btn-danger">Sistemdən Sil</a></td>
            <td><a href="/Admin/VisitorApi/UpdateVisitor/@x.VisitorID" class="btn btn-outline-primary">Məlumatları Yenilə</a></td>

            
        </tr>

    }
</table>
<a href="/Admin/VisitorApi/AddVisitor/" class="btn btn-outline-success">Yeni İstifadəçi</a>

