@using EntityLayer.Concrete
@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Aktiv Turlar</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Şəhər</th>
        <th>Müddət</th>
        <th>Boş Yerlər</th>
        <th>Qiymət</th>
        <th>Haqqında</th>
    </tr>
    @foreach(var x in Model)
    {
        <tr>
            <td>@x.DestinationID</td>
            <td>@x.City</td>
            <td>@x.DayNight</td>
            <td>@x.Capacity</td>
            <td>@x.Price Azn</td>
            <td><a href="#" class="btn btn-outline-info">Haqqında</a></td>
        </tr>

    }
</table>

